@keyframes fadein {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(20px); }
}

@keyframes fadeout {
  0% { transform: translateY(20px); }
  100% { transform: translateY(-100%); }
}

@keyframes toggle {
  0% { transform: translateY(20px); }
  100% { transform: translateY(-100%); }
}

.popup {
  transform: translateY(20px);
  top: 0;
  left: 50%;
  margin-left: -250px;
  position: fixed;
  width: 500px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .2);
  padding: 20px;
  animation-name: fadein;
  animation-duration: .5s;
  animation-iteration-count: 1;
  z-index: 4;
}

.closing {
  transform: translateY(20px);
  animation-name: fadeout;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

.changing {
  transform: translateY(20px);
  animation-name: toggle;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

.title {
  text-align: center;
  color: #404040;
  font-weight: 800;
  font-size: 35px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  margin-bottom: 20px;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.col {
  width: calc(50% - 8px);
  padding-left: 16px;
}

.col:first-child {
  border-right: 2px solid #efefef;
}

.col li {
  margin-top: 5px;
  list-style: none;
  color: #404040;
  font-weight: 600;
}

.col li span {
  padding-left: 15px;
  color: black;
  font-weight: 800;
}

.button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
